.bg-img{
    background-image: url('images/bg-img2.jfif');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh; 
}

a:link{
    color: #FEFCFF;
}
a:visited {
    color: #FEFCFF;
  }
a:active {
    color: #FEFCFF;
  }

.nav-link a{
  margin: auto;
  text-align: center;
}